/build
/target
/assembly
/target
/target
/\.settings
*.zip
*.nt
*.ser
*.model
*.bin
*.iml
*~
\#*\#
/src/resources/models/
/results
/target
/test
/\.idea
/WebContent/WEB-INF/classes/instance_types_2014-04.en.txt.bz2
/WebContent/WEB-INF/classes/models
.DS_store
*~
*.swp
*.swo
workspace.xml
