
//comman font sizes 

h1 { font-size: 25px;}

h2 { font-size: 20px;}

h3 { font-size: 18px;}

h4 { font-size: 16px;}

h5 { font-size: 14px;}

h6 { font-size: 13px;}

p { font-size: 14px; line-height: 22px;}

strong { font-weight: 700;}

$blue :#0175bc;

$grey: #f5f5f8;

$grey-bold: #999;

