@CHARSET "UTF-8";
body { 	font-family: 'Open Sans', sans-serif; /* "Myriad Pro", "Trebuchet MS", Calibri, Verdana, Geneva, Arial, sans-serif; */
	line-height: 1.6em;
  /*  margin: 0% 5%; */
    text-align: left;
}

h1 { text-align:center; font-size: 20px;}
h2 { text-align:center; font-size: 16px;}
h3 { text-align:center; font-size: 14px;}

.navbar-nav li { padding: 0px 3px;}
.note {	padding:5px; width:100%;border: solid 1px rgba(0,0,0,0.2); 	text-align:left;
}

hr {
	border-top: solid 1px rgba(0,0,0,0.2);
}
.dropdown-menu { opacity: 0.95; }
.epadd-nav { background: #0175bc; color: white }
.navbar-default .navbar-nav>li>a { color: rgba(255,255,255,0.5);}
.navbar-default .navbar-nav>li.nav-active a { color: rgba(255,255,255,1.0);}
.navbar-default .navbar-nav>li>a:hover { color: rgba(255,255,255,1.0);}
.navbar-brand { padding : 0px; background: #07659E;}
.navbar-brand img { padding : 0px; background: #07659E;}

a {color: #3682bb;}
/* #nav1 { font-size: 120%;}
#nav1 a, #nav2 a, #nav3 a { padding: 3px;  color: #6f6f6f; text-decoration: none}
#nav1 a.selected, #nav1 a:hover, #nav2 a.selected, #nav2 a:hover, #nav3 a.selected, #nav3 a:hover { color: yellow; background-color: #3682bb; transition: background-color 0.5s, color 0.5s;} */ 
/* color picked from testflightapp.com */
/* #nav1 a.selected, #nav1 a:hover, #nav2 a.selected, #nav2 a:hover { color: #3682bb; border-bottom: solid 1px #3682bb} */
/* #nav2, #nav3 { padding-left:190px;} */
.status {
	border-collapse: separate;
	border-spacing: 5px;
	filter: alpha(opacity = 90);
	opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	color: #000000;
    background-color: white; 
    border-color: black;
	
	z-index:1000;min-height:180px;height:180px;padding:30px;position:fixed;width:500px;box-shadow:0 4px 23px 5px rgba(25,25,25, 0.2), 0 2px 6px rgba(255,255,255,0.15);
}

div.progress_bar_outer_box {margin-top: 15px; width:400px;border-style:none;background-color:#e5e5e5;border-radius:5%;border-top:15px;}

div.progress_bar {
	background-color: #0175bc;
	border-radius: 5%;
	padding:0;width:0;height:12px;
/*        background-color: navy; /* hotpink; #40f040; */ 
}

div.button_bar_on_datatable{
	position:absolute;
	z-index: 10000; /*to make sure that the buttons don't hide behind the table*/
}
div.buttons_on_datatable{
	display: inline-block;
	border-right: 1px solid grey;
	margin-top: -30px;
	padding: 8px;
	cursor:pointer;
}

.dataTables_length{ float:right;}

div.facets {
    font-size: 13px;
	padding-left:5px;
	border:solid 1px rgba(160,160,160,0.3);
	line-height: 2.2;
}

div.facets .facetTitle { font-size: 15px; font-weight: 600; width: 100%; padding-left: 5px; border-style: solid; border-width: 1px 0px; border-color: #d4d4d4; margin-top: 20px;}

div.facets, div.controls, div.labels-area { background-color: #f5f5f8;  }
div.controls { border-bottom:solid 1px #d4d4d4; height: 55px;}
div.controls img { height: 32px;}

div.labels-area { border-style: solid; border-width: 0px 1px 1px 1px; border-color: #D4D4D4; height: 55px; padding-top: 15px;}
div.controls button { background-color: white; margin-left: 23px; }

div.annotation { display: none; z-index: 200; position: absolute; right: 0px; top:300px; background-color: rgb(255,255,195); height: 300px; width: 300px; padding: 20px; border: solid 1px #ccc;}
div.annotation-header { font-weight: 600; font-size: 19px; padding-bottom: 10px; border-bottom: solid 1px #d4d4d4; margin-bottom: 10px;}
div.annotation-area { overflow: scroll; height:200px;}

div.message-menu { z-index: 100; position: absolute; left: 845px; top: 220px;} /* z-index keeps it above the jog area, but below the modals */
div.message-menu img { height: 32px;}

.message-label { display: inline; margin-left: 10px; margin-top: 5px; padding: 6px 20px; border-radius: 20px;}
.system-label.restriction-label { background: rgb(223,0,0); color: white; }
.restriction-label { background: #E27D00; color: white; }
.general-label { background: #006FC0; color: white;}
.cfr-label { background: rgb(0,162,78);}

.selected-facet {
	color: #0175bc;
	padding: 4px;
}

.clickableLink { color: #0175bc; }

.facet, .search { /* these are links */
		cursor: pointer;
}

.facet:hover, .noTNattachmentText:hover, .selected-facet {
   /* border-bottom: 1px solid #4E7178; */
    text-decoration:none;
}

.browse_message_area {
  /*  background-image: url("../images/parchment-light.png"); */
    background-color: white; /* #f8f8ff; */
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 20px;
}

.docheader { /* padding:8px 10px; */
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px rgba(160,160,160,0.3);
}

.docheader {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	width: 98%; 	
}

table.docheader td {padding: 2px;}
.muse-doc-header { padding-bottom:10px; }
div.muse-doc {
        padding-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        /* font-family: Courier, Arial, sans-serif; */
        font-family: 'Open Sans', sans-serif; /* Courier, "Myriad Pro", Arial, sans-serif; */
        font-size: 16px;
        line-height: 1.6em;
/*      min-height: 1200px; */

        /* insert word break to handle long unbroken words longer than a line: see http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css
           Not sure why the word-break: break-all was set, it was breaking many words with no hyphen at the end of it
        */
        -ms-word-break: keep-all;
        word-break: keep-all;
        -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#status a, #status a:hover {
	color: #0000EE;
}

#status_text { margin-top:20px;}
#status { z-index: 1000000; /* has to be higher than overlay */}
a.hilitedTerm, .hilitedTerm {
        background-color: yellow;
  /*  border-bottom: 1px solid #74C0CF; */
    color: #000000;
}

#status_cancel { margin-left:20px; position:relative; top: -2px}

.light-border { border: solid 1px rgba(0,0,0,0.5);}
.underline { text-decoration: underline; }
.underline_on_hover:hover { text-decoration: underline; }

.account h1 { padding-bottom:10px; border-bottom: solid 1px #aaa}
.folderEntry {
	min-width: 15em;
/*	width: 15em;
	max-width: 15em; */
	margin: 1px;
	padding: 5px 10px;
}

.folderEntry input[type=checkbox] {margin-right: 10px;}

.browseFolder { padding: 10px 25px; min-height: 250px; max-height: 500px; overflow:auto; }
.path-component { color: #0075bb; padding-right: 10px;}
.path-component:hover { text-decoration: underline; cursor: pointer;}
.path-components { padding: 15px 25px 15px 25px; }
ul.jqueryFileTree li.directory, ul.jqueryFileTree li.file { margin-top: 10px;}

.resolved,.unresolved,.custom{
	cursor: pointer;
	display: inline-block;
	line-height: 17px;
}

.resolved{
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted #000;
	border-bottom-color: red;
}

.opennlp-person{
	color: black;
	border-top: 1px dotted #000;
	border-top-color: rgba(255, 0, 0, 0.2);
}

.opennlp-org{
	color: black;
	border-top: 1px dotted #000;
	border-top-color: rgba(0, 0, 255, 0.2);
}

.opennlp-place{
	color: black;
	border-top: 1px dotted #000;
	border-top-color: rgba(0, 255, 0, 0.2);
}

.custom-people{
	color: black;
	border-bottom: 1px solid #000;
	border-bottom-color: grey;
	cursor: pointer;
}

.custom-org{
	color: black;
	border-bottom: 1px solid #000;
	border-bottom-color: grey;
	cursor: pointer;
}

.custom-loc{
	color: black;
	border-bottom: 1px solid #000;
 	border-bottom-color: grey;
	cursor: pointer;
}

.resolutions{
	text-align:left;
}

.muse-overlay, .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 10000;
}

.dataTables_paginate a { margin: 0px 2px;}

.flag { font-size:25px;margin-left:25px;position:relative;top:3px; color: #a0a0a0;}
.flag-enabled { color: #0175bc; } /* important that flag-enabled come after .flag, so that it takes precedence in case both flag and flag-enabled are applied */

.authorities-table { font-size: 14px; }
.authorities-table .ids a { font-size: 12px; margin: 10px; }
.authorities-table .ids { margin-left:5px; }
.authorities-table tr { border-bottom: solid 1px rgba(0,0,0,0.2); }

#manualassign { padding: 20px }
#manualassign, #manualassign .aa { font-size: 12px; }
#manualassign .header { font-size: 20px; }
.fancybox-skin { background-color: white; }

.attachments img { max-width:200px; margin: 10px; box-shadow: 3px 3px 2px #888888}

.pp-bottom { height: 0px;}
.pp_bottom .pp_left, .pp_bottom .pp_right,.pp_bottom .pp_middle { height: 0px;}
.pp_top .pp_left, .pp_top .pp_right,.pp_top .pp_middle { height: 0px;}

/**highlight attachment in browse page*/
.highlight{background-color: yellow}

/* a tiny bit of styling for attachments */
.attachment {
	border-radius: 4px;
	box-shadow: 1px 1px #888888;
	display:inline-block;
	margin:10px;
	border: solid 1px rgba(0,0,0,0.2);

}

.autocomplete-suggestions {
	background-color: white;
	color: #999;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	cursor: pointer;
}
.autocomplete-suggestion {
	border-bottom: 1px solid #eaeaea;
	padding: 8px 10px;
	margin: 0px 10px;
}

.autocomplete-selected{
	background-color: whitesmoke;
}

.panel { background-color: #f5f5f8;  border: 1px solid #eaeaea;  padding:25px 30px;  border-radius: 4px;  margin-bottom: 25px; } /* taken from search-wraper in adv. search.scss */
.panel-heading { font-size: 16px; font-weight: 400; /* weight 400 is equal to open sans regular */ margin-bottom:20px; color: #404040;} /* taken from h4/search-wrapper in adv. search.scss */

.qtip-epadd { background-color: #f5f5f8; border-color: #0b559b; font-size: 14px; }
.name-expansion { margin: 0px; padding: 5px 0px; }
.name-expansion-header { color: black; font-weight: 700; margin-bottom: 10px; padding: 10px 0px; border-bottom: solid 1px #ccc;}

.navbar-default a { border-bottom: solid 4px inherit ; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { box-sizing: border-box; background-color: inherit; border-bottom: solid 4px white ; padding-bottom:10px;}

footer { text-align: center; background-color: #616161;height:40px;width:100%; color: #ababab; }
footer a { color: #ababab; text-decoration: underline;}

.profile-block .collection-metadata {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:20px;
    max-width:320px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}