.sidebar-icon {
    position: fixed;
    top:85px;
    right: 2vw;
    background-color:#0075bb;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
    z-index: 100;
    opacity: 0.4;
}
.sidebar-icon img { padding-top:10px;}

.menu1 {
    width: 350px;
    height: 100%;
    background: #ffffff;
    padding: 35px 30px;
    position: fixed;
    top: 0;
    right: -350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    z-index: 10000 ;
    transition: all 0.6s;
}

.menu1.show-nav1 {
    box-shadow: 0 0 2px 1px #aaaaaa;
    -webkit-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px) translateZ(0);
    -ms-transform: translateX(-350px) translateZ(0);
    transform: translateX(-350px) translateZ(0);
    -webkit-transform: translate3d(-350px, 0, 0);
    transform: translate3d(-350px, 0, 0);
    transition: all 0.6s;
}

.close {
    float: right;
    height: 18px;
    margin-right: -5px;
    margin-top: -52px;
    opacity: 0.5;
}
